<div class="row">
        <div class="col-xl-3 text-xs-center">
            <div class="card card-default">
                <div class="card-block">
                    <img [src]="hotel.previewImg" class="preview">
                </div>
            </div>
        </div>
        <div class="col-xl-6 text-xs-center">
            <div class="card card-default">
                <div class="card-block">
                    .col-xl-6
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-xs-center">
            <div class="card card-default">
                <div class="card-block">
                    .col-xl-3
                </div>
            </div>
        </div>
    </div>