<div class="row">
        <div class="col-xl-4 text-xs-center">
            <div class="card card-default">
                <div class="card-block">
                    .col-xl-4
                </div>
            </div>
        </div>
        <div class="col-xl-4 text-xs-center">
            <div class="card card-default">
                <div class="card-block">
                    .col-xl-4
                </div>
            </div>
        </div>
        <div class="col-xl-4 text-xs-center">
            <div class="card card-default">
                <div class="card-block">
                    .col-xl-4
                </div>
            </div>
        </div>
    </div>